.Additional {
  margin: 0 20px;
}

.Additional__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #CDCDCD;
}

.Additional__button {
  display: inline-block;
  width: 280px;
  background: #68B738;
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 19px
}

.Additional__subtitle {
  margin: 13px 0;
}

.Additional__text {
  display: flex;
  width: 280px;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
margin-bottom: 15px;
}

.Additional__prise {
  margin-left: auto;
}

.Additional__item {
  border-bottom: 1px solid #CDCDCD;
}
